#undef ZMK_LEADER_SEQUENCE
#define ZMK_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            leader: leader { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };

/* German umlauts */
ZMK_LEADER_SEQUENCE(de_ae,      &kp RA(A),         A)  // ä
ZMK_LEADER_SEQUENCE(de_oe,      &kp RA(O),         O)  // ö
ZMK_LEADER_SEQUENCE(de_ue,      &kp RA(U),         U)  // ü
ZMK_LEADER_SEQUENCE(de_eszett,  &kp RA(S),         S)  // ß
ZMK_LEADER_SEQUENCE(de_eur,     &kp RA(E),         E)  // €
