//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        comma_exclamation: comma_exclamation {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_EXCLAMATION";
            bindings = <&kp COMMA>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_question: dot_question {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_QUESTION";
            bindings = <&kp DOT>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        slash_asterisk: slash_asterisk {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH_ASTERISK";
            bindings = <&kp SLASH>, <&kp ASTRK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
                 &kp B           &kp L    &kp D        &kp W           &kp Z        &kp SINGLE_QUOTE  &kp F        &kp O               &kp U          &kp J
                 &hm LALT N      &lt 1 R  &hm LSHFT T  &lt 3 S         &kp G        &lt 4 Y           &lt 2 H      &hm RSHFT A         &lt 1 E        &hm LALT I
&lt 5 BACKSPACE  &hm LEFT_GUI Q  &kp X    &kp M        &hm LCTRL C     &kp V        &kp K             &hm RCTRL P  &comma_exclamation  &dot_question  &slash_asterisk  &kp ENTER
                                          &none        &kp UNDERSCORE  &kp SPACE    &kp ESC           &key_repeat  &none
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
        &kp GRAVE  &kp LT     &kp GT     &kp MINUS  &kp PIPE     &kp CARET    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DOLLAR     &kp SINGLE_QUOTE
        &kp EXCL   &kp ASTRK  &kp SLASH  &kp EQUAL  &kp AMPS     &kp HASH     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMICOLON  &kp DOUBLE_QUOTES
&trans  &kp TILDE  &kp PLUS   &kp LBRC   &kp RBRC   &kp PRCNT    &kp AT_SIGN  &kp COLON             &kp COMMA              &kp PERIOD     &kp SLASH          &trans
                              &tog 1     &trans     &trans       &trans       &trans                &trans
            >;
        };

        Num {
            display-name = "Num";
            bindings = <
                &kp MINUS  &kp N7        &kp N8        &kp N9        &kp PLUS        &trans  &trans  &trans  &trans  &trans
                &kp N0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp X           &trans  &trans  &trans  &trans  &trans
&studio_unlock  &kp SLASH  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp ASTERISK    &trans  &trans  &trans  &trans  &trans  &trans
                                         &tog 2        &trans        &trans          &trans  &trans  &trans
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &trans  &trans  &trans       &trans     &trans    &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP   &kp END    &kp INSERT
        &trans  &trans  &hm LCTRL R  &trans     &trans    &kp LEFT  &kp DOWN       &kp UP_ARROW  &kp RIGHT  &kp TAB
&trans  &trans  &trans  &trans       &trans     &trans    &trans    &trans         &trans        &trans     &trans      &trans
                        &kp LC(V)    &kp LS(V)  &kp V     &trans    &kp DOT        &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &kp F12  &kp F7  &kp F8  &kp F9  &trans    &trans  &trans  &trans  &trans  &trans
        &kp F10  &kp F1  &kp F2  &kp F2  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &kp F11  &kp F4  &kp F5  &kp F6  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Hot {
            display-name = "Hot";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp C_PREV         &kp C_REWIND  &kp C_FAST_FORWARD  &kp C_NEXT       &trans
        &trans  &trans  &trans  &trans  &trans    &kp C_VOLUME_DOWN  &kp C_STOP    &kp C_PLAY_PAUSE    &kp C_VOLUME_UP  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LC(MINUS)      &kp LC(N0)    &kp RC(PLUS)        &kp LC(EQUAL)    &trans  &trans
                        &trans  &trans  &trans    &trans             &trans        &trans
            >;
        };

        Game {
            display-name = "Game";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
