//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

#include "leader.dtsi"

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

        comma_excl: comma_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_EXCL";
            bindings = <&kp COMMA>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_qmark: dot_qmark {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_QMARK";
            bindings = <&kp DOT>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fslh_astrk: fslh_astrk {
            compatible = "zmk,behavior-mod-morph";
            label = "FSLH_ASTRK";
            bindings = <&hmr RGUI SLASH>, <&hmr RGUI ASTERISK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        sqt_under: sqt_under {
            compatible = "zmk,behavior-mod-morph";
            label = "SQT_UNDER";
            bindings = <&kp SINGLE_QUOTE>, <&kp UNDERSCORE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        sqt_adapt: sqt_adapt {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&sqt_under>;

            sqt_ao {
                trigger-keys = <A>;
                max-prior-idle-ms = <300>;
                bindings = <&kp O>;
            };

            sqt_oa {
                trigger-keys = <O>;
                max-prior-idle-ms = <300>;
                bindings = <&kp A>;
            };

            sqt_ue {
                trigger-keys = <U>;
                max-prior-idle-ms = <300>;
                bindings = <&kp E>;
            };

            sqt_eu {
                trigger-keys = <E>;
                max-prior-idle-ms = <300>;
                bindings = <&kp U>;
            };
        };

        hml: homerow_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MOD_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <5 15 26 27 16 6 7 17 28 29 18 8 9 19 30 31 32 33 34 35 36 37>;
            hold-trigger-on-release;
            hold-while-undecided;
        };

        hmr: homerow_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MOD_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <32 33 34 35 36 37 3 4 14 25 24 13 2 23 12 11 22 1 0 21 10 20>;
            hold-trigger-on-release;
            hold-while-undecided;
        };

        htl: homerow_tap_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_TAP_LEFT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <5 15 26 27 16 6 7 17 28 29 18 8 9 19 30 31 32 33 34 35 36 37>;
            hold-trigger-on-release;
        };

        htr: homrow_tap_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_TAP_RIGHT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <32 33 34 35 36 37 3 4 14 25 24 13 2 23 12 11 22 1 0 21 10 20>;
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        C_Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <10 11>;
        };

        C_Tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        C_STab {
            bindings = <&kp LS(TAB)>;
            key-positions = <18 17>;
        };

        C_CapsWord {
            bindings = <&caps_word>;
            key-positions = <16 17>;
        };

        C_Enter {
            bindings = <&kp ENTER>;
            key-positions = <16 17 18>;
        };

        C_Semicolon {
            bindings = <&kp SEMICOLON>;
            key-positions = <28 29>;
        };

        C_Updir {
            bindings = <&M_Updir>;
            key-positions = <29 30>;
        };

        C_Leader {
            bindings = <&leader>;
            key-positions = <12 13>;
        };
    };

    macros {
        M_Updir: M_Updir {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp DOT &kp FSLH>;
            label = "M_UPDIR";
            wait-ms = <0>;
            tap-ms = <5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
       &kp B            &kp L     &kp D         &kp W           &kp Z        &sqt_adapt  &kp F         &kp O         &kp U       &kp J
       &hml LALT N      &htl 1 R  &hml LSHFT T  &htl 3 S        &kp G        &htr 4 Y    &htr 2 H      &hmr RSHFT A  &htr 1 E    &hmr LALT I
&mo 5  &hml LEFT_GUI Q  &kp X     &kp M         &hml LCTRL C    &kp V        &kp K       &hmr RCTRL P  &comma_excl   &dot_qmark  &fslh_astrk  &trans
                                  &none         &kp UNDERSCORE  &kp SPACE    &kp ESCAPE  &kp ENTER     &none
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
        &kp GRAVE  &kp LT     &kp GT            &kp MINUS          &kp PIPE     &kp CARET    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DOLLAR     &kp GRAVE
        &kp EXCL   &kp ASTRK  &kp SLASH         &kp EQUAL          &kp AMPS     &kp HASH     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMICOLON  &kp DOUBLE_QUOTES
&tog 1  &kp TILDE  &kp PLUS   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PRCNT    &kp AT_SIGN  &kp COLON             &kp COMMA              &kp PERIOD     &kp SLASH          &trans
                              &trans            &trans             &trans       &trans       &trans                &trans
            >;
        };

        Num {
            display-name = "Num";
            bindings = <
        &kp MINUS  &kp N7        &kp N8        &kp N9        &kp PLUS        &trans  &trans  &trans  &trans  &trans
        &kp N0     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp X           &trans  &trans  &trans  &trans  &trans
&tog 2  &kp SLASH  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp ASTERISK    &trans  &trans  &trans  &trans  &trans  &trans
                                 &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &trans  &trans        &trans     &trans     &trans    &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP   &kp END    &kp INSERT
        &trans  &hml LCTRL R  &trans     &trans     &trans    &kp LEFT  &kp DOWN       &kp UP_ARROW  &kp RIGHT  &kp TAB
&tog 3  &trans  &trans        &trans     &trans     &trans    &trans    &kp BACKSPACE  &kp DELETE    &trans     &trans      &trans
                              &kp LC(V)  &kp LS(V)  &kp V     &trans    &kp DOT        &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &kp F12  &kp F7  &kp F8  &kp F9  &trans    &trans  &trans  &trans  &trans  &trans
        &kp F10  &kp F1  &kp F2  &kp F2  &trans    &trans  &trans  &trans  &trans  &trans
&tog 4  &kp F11  &kp F4  &kp F5  &kp F6  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Hot {
            display-name = "Hot";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &kp C_PREV         &kp C_REWIND  &kp C_FAST_FORWARD  &kp C_NEXT       &trans
        &trans  &trans  &trans  &trans  &trans    &kp C_VOLUME_DOWN  &kp C_STOP    &kp C_PLAY_PAUSE    &kp C_VOLUME_UP  &trans
&tog 5  &trans  &trans  &trans  &trans  &trans    &kp LC(MINUS)      &kp LC(N0)    &kp RC(PLUS)        &kp LC(EQUAL)    &trans  &trans
                        &trans  &trans  &trans    &trans             &trans        &trans
            >;
        };

        Game {
            display-name = "Game";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
