//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    global-quick-tap;
    flavor = "balanced";
    tapping-term-ms = <200>;
};

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
};

#include "leader.dtsi"

/ {
    behaviors {
        comma_excl: comma_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_EXCL";
            bindings = <&kp COMMA>, <&kp EXCL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_qmark: dot_qmark {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_QMARK";
            bindings = <&kp DOT>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fslh_astrk: fslh_astrk {
            compatible = "zmk,behavior-mod-morph";
            label = "FSLH_ASTRK";
            bindings = <&hmr RGUI SLASH>, <&hmr RGUI ASTERISK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rep_adapt: rep_adapt {
            compatible = "zmk,behavior-adaptive-key";
            #binding-cells = <0>;
            bindings = <&key_repeat>;

            ao {
                trigger-keys = <A>;
                bindings = <&kp O>;
            };

            oa {
                trigger-keys = <O>;
                bindings = <&kp A>;
            };

            ue {
                trigger-keys = <U>;
                bindings = <&kp E>;
            };

            eu {
                trigger-keys = <E>;
                bindings = <&kp U>;
            };

            br {
                trigger-keys = <B>;
                bindings = <&kp R>;
            };

            ph {
                trigger-keys = <P>;
                bindings = <&kp H>;
            };

            sc {
                trigger-keys = <S>;
                bindings = <&kp C>;
            };

            gs {
                trigger-keys = <G>;
                bindings = <&kp S>;
            };
        };

        hml: homerow_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MOD_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            hold-trigger-key-positions = <5 15 26 27 16 6 7 17 28 29 18 8 9 19 30 31 32 33 34 35 36 37>;
            hold-trigger-on-release;
            hold-while-undecided;
        };

        hmr: homerow_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MOD_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            hold-trigger-key-positions = <32 33 34 35 36 37 3 4 14 25 24 13 2 23 12 11 22 1 0 21 10 20>;
            hold-trigger-on-release;
            hold-while-undecided;
        };

        htl: homerow_tap_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_TAP_LEFT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            hold-trigger-key-positions = <5 15 26 27 16 6 7 17 28 29 18 8 9 19 30 31 32 33 34 35 36 37>;
            hold-trigger-on-release;
        };

        htr: homrow_tap_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_TAP_RIGHT";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            hold-trigger-key-positions = <32 33 34 35 36 37 3 4 14 25 24 13 2 23 12 11 22 1 0 21 10 20>;
            hold-trigger-on-release;
        };

        bspc_enter: bspc_enter {
            compatible = "zmk,behavior-mod-morph";
            label = "BSPC_ENTER";
            bindings = <&kp BACKSPACE>, <&kp ENTER>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        sqt_caps: sqt_caps {
            compatible = "zmk,behavior-mod-morph";
            label = "SQT_CAPS";
            bindings = <&kp SINGLE_QUOTE>, <&caps_word>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        caps: caps {
            compatible = "zmk,behavior-mod-morph";
            label = "CAPS";
            bindings = <&sk LSHFT>, <&caps_word>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dqt_grv: dqt_grv {
            compatible = "zmk,behavior-mod-morph";
            label = "DQT_GRV";
            bindings = <&hmr RIGHT_GUI DOUBLE_QUOTES>, <&hmr RIGHT_GUI GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        sqt_leader: sqt_leader {
            compatible = "zmk,behavior-mod-morph";
            label = "SQT_LEADER";
            bindings = <&kp SINGLE_QUOTE>, <&leader>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        C_Backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <22 23>;
            timeout-ms = <50>;
        };

        C_Tab {
            bindings = <&kp TAB>;
            key-positions = <12 11>;
            timeout-ms = <25>;
            require-prior-idle-ms = <150>;
        };

        C_STab {
            bindings = <&kp LS(TAB)>;
            key-positions = <18 17>;
            timeout-ms = <25>;
            require-prior-idle-ms = <150>;
        };

        C_Enter {
            bindings = <&kp ENTER>;
            key-positions = <28 29>;
            timeout-ms = <30>;
            require-prior-idle-ms = <150>;
        };
    };

    macros {
        M_Updir: M_Updir {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp DOT &kp FSLH>;
            label = "M_UPDIR";
            wait-ms = <0>;
            tap-ms = <5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
                 &kp B            &kp L     &kp D         &kp W         &kp Z        &sqt_leader  &kp F         &kp O          &kp U       &kp J
                 &hml LALT N      &htl 1 R  &hml LSHFT T  &htl 3 S      &kp G        &htr 4 Y     &htr 2 H      &hmr RSHFT A   &htr 1 E    &hmr LALT I
&lt 5 LG(ENTER)  &hml LEFT_GUI Q  &kp X     &kp M         &hml LCTRL C  &kp V        &kp K        &hmr RCTRL P  &comma_excl    &dot_qmark  &dqt_grv     &out OUT_TOG
                                            &none         &kp UNDER     &kp SPACE    &kp ESCAPE   &caps         &kp RIGHT_ALT
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
        &kp BACKSLASH  &kp LT     &kp GT            &kp MINUS          &kp PIPE     &kp CARET    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp DOLLAR     &kp SINGLE_QUOTE
        &kp EXCL       &kp ASTRK  &kp SLASH         &kp EQUAL          &kp AMPS     &kp HASH     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMICOLON  &kp GRAVE
&trans  &kp TILDE      &kp PLUS   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp PRCNT    &kp AT_SIGN  &kp COLON             &kp COMMA              &kp PERIOD     &kp DOUBLE_QUOTES  &tog 1
                                  &trans            &trans             &trans       &trans       &trans                &trans
            >;
        };

        Num {
            display-name = "Num";
            bindings = <
        &kp MINUS     &kp N7        &kp N8        &kp N9        &kp PLUS        &trans  &trans  &trans  &trans  &trans
        &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp X           &trans  &trans  &trans  &trans  &trans
&trans  &kp SLASH     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp ASTERISK    &trans  &trans  &trans  &trans  &trans  &tog 2
                                    &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };

        Nav {
            display-name = "Nav";
            bindings = <
        &trans  &trans        &trans     &trans     &trans    &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP   &kp END    &kp INSERT
        &trans  &hml LCTRL R  &trans     &trans     &trans    &kp LEFT  &kp DOWN       &kp UP_ARROW  &kp RIGHT  &kp DELETE
&trans  &trans  &trans        &trans     &trans     &trans    &trans    &trans         &trans        &trans     &trans      &tog 3
                              &kp LC(V)  &kp LS(V)  &kp V     &trans    &kp DOT        &trans
            >;
        };

        Fun {
            display-name = "Fun";
            bindings = <
        &kp F12  &kp F7  &kp F8  &kp F9  &trans    &trans  &trans  &trans  &trans  &trans
        &kp F10  &kp F1  &kp F2  &kp F2  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &kp F11  &kp F4  &kp F5  &kp F6  &trans    &trans  &trans  &trans  &trans  &trans  &tog 4
                         &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        Hot {
            display-name = "Hot";
            bindings = <
        &kp LC(B)  &kp LC(L)  &kp LC(Y)  &kp LC(W)  &kp LC(Z)    &kp C_PREV         &kp C_REWIND  &kp C_FAST_FORWARD  &kp C_NEXT       &trans
        &kp LC(N)  &kp LC(R)  &kp LC(T)  &kp LC(S)  &kp LC(E)    &kp C_VOLUME_DOWN  &kp C_STOP    &kp C_PLAY_PAUSE    &kp C_VOLUME_UP  &trans
&trans  &kp LC(A)  &kp LC(X)  &kp LC(F)  &kp LC(C)  &kp LC(V)    &kp LC(MINUS)      &kp LC(N0)    &kp RC(PLUS)        &kp LC(EQUAL)    &trans  &bt BT_CLR
                              &trans     &trans     &trans       &trans             &trans        &trans
            >;
        };

        Game {
            display-name = "Game";
            bindings = <
           &kp Q  &kp W  &kp E    &kp R    &kp T        &kp Y         &kp U         &kp I         &kp O    &kp P
           &kp A  &kp S  &kp D    &kp F    &kp G        &kp H         &kp J         &kp K         &kp L    &kp SEMI
&kp LSHFT  &kp Z  &kp X  &kp C    &kp V    &kp B        &kp N         &kp M         &kp COMMA     &kp DOT  &kp FSLH  &bspc_enter
                         &kp ESC  &kp TAB  &kp SPACE    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3
            >;
        };
    };
};
